/* Main gallery page */
body,
#app-content {
  min-height: 100vh;
  width: 100%;
  font-size: 110%;
}
.btn-transparent {
  background-color: transparent !important;
}
.btn-transparent:hover {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: #ffffff;
}
.basicGalleryPage {
  /*background-image: url("../images/backgrounds/betonZid.png");
  background-repeat: repeat;*/
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
}
.basicGalleryPage .btn-raised {
  font-size: 120%;
}
.basicGalleryPage .changeModeBtn {
  position: absolute;
  right: 0;
  font-size: 30%;
}
.basicGalleryPage #topPadding {
  height: 5vh;
}
.basicGalleryPage .icons {
  font-size: 300%;
}
.basicGalleryPage .chevron {
  font-size: 400%;
  position: absolute;
  z-index: 10;
}
.basicGalleryPage .bs-header {
  position: relative;
  padding: 1%;
  width: 100%;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #dc211c;
  opacity: 0.9;
  filter: alpha(opacity=90);
  /* For IE8 and earlier */
}
.basicGalleryPage .bs-footer {
  position: relative;
  padding: 1%;
  width: 100%;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.9;
  filter: alpha(opacity=90);
  /* For IE8 and earlier */
  margin-top: 30px;
}
.basicGalleryPage .chevron:hover {
  cursor: pointer;
}
.basicGalleryPage #image {
  cursor: pointer;
}
.basicGalleryPage .row {
  padding: 0;
  margin: 0;
}
.basicGalleryPage .centerFlex {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}
.basicGalleryPage .sider {
  padding: 0;
}
.basicGalleryPage .sider > div {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 5px;
  border: 3px solid #000000;
  border-top: none;
  border-bottom: none;
  border-radius: 3px;
}
.basicGalleryPage .siderItem {
  padding: 5px 0px;
}
.basicGalleryPage .btn {
  white-space: normal;
  background-color: #ffffff;
}
.basicGalleryPage .btn-gray {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: #ffffff;
}
.basicGalleryPage .interviewLink {
  padding: 5px 0;
  position: absolute;
  right: 30px;
  top: 10px;
}
.basicGalleryPage .imgContainer {
  vertical-align: center;
  height: 65vh;
  text-align: center;
}
.basicGalleryPage .imgContainer img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  padding: 0 !important;
  /*box-shadow: 4px 5px 2px @black;*/
}
.basicGalleryPage .galleryBasicImgDescription {
  margin-top: 1vh;
  padding: 5px;
  color: #ffffff;
  text-align: center;
  box-shadow: 4px 5px 2px #000000;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  border: 3px solid #000000;
}
.basicGalleryPage .active {
  opacity: 0.6;
}
/* First page */
.firstPageTpl {
  position: fixed;
  width: 100%;
  padding-top: 15%;
}
.firstPageTpl .bs-header {
  position: relative;
  padding: 1%;
  width: 100%;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #dc211c;
  opacity: 0.9;
  filter: alpha(opacity=90);
  /* For IE8 and earlier */
}
.firstPageTpl #bs-body {
  display: none;
  position: relative;
  width: 100%;
  padding: 2%;
  color: #ffffff;
  background-color: #333333;
  opacity: 0.95;
  filter: alpha(opacity=95);
  /* For IE8 and earlier */
}
.firstPageTpl #bs-tail {
  position: relative;
  width: 100%;
  padding: 2%;
  color: #ffffff;
  background-color: #333333;
  opacity: 0.95;
  filter: alpha(opacity=95);
  /* For IE8 and earlier */
}
.firstPageTpl .img-circle {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.firstPageTpl .pbody {
  display: table-cell;
  vertical-align: middle;
}
.firstPageTpl .firstPageTpl .heading {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.firstPageTpl .btn {
  color: #ffffff;
}
.firstPageTpl .p {
  margin-top: 5px;
}
.firstPageTpl #hide {
  margin-left: 50%;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.firstPageTpl #hide:hover {
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}
img.firstPageTplBg {
  min-width: 100%;
  position: inherit;
  min-height: 70% !important;
  /* browser fill */
  height: auto;
  /*content fill */
}
/* Interview */
.interviewPage {
  /*background-image: url("../images/backgrounds/betonZid.png");*/
}
.interviewPage .indexContainer {
  position: fixed;
  font-size: 80%;
}
.interviewPage .indexContainer ul {
  list-style: none;
}
.interviewPage .indexContainer ul li {
  padding: 3px 0;
}
.interviewPage .indexContainer ul li:hover {
  cursor: pointer;
  border-left: 3px solid #000000;
  padding-left: 5px;
}
.interviewPage .indexContainer ul li.active {
  padding-left: 10px;
  border-left: 3px solid #000000 !important;
  font-weight: bolder;
}
@media screen and (max-width: 992px) {
  .interviewPage .indexContainer {
    position: static;
  }
}
@media screen and (max-width: 1500px) {
  body,
  #app-content {
    font-size: 90%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
