/* Main gallery page */
@white: #ffffff;
@black: #000000;
@niceGray: #333333;
@lightGrey: #e8f5e9;
@transparentBlack: rgba(0, 0, 0, 0.8);
@indexHeaderRedColor: #dc211c;
@yellow: #ECDF00;

body, #app-content {
  min-height: 100vh;
  min-width: 525px;
  width: 100%;
  background-color: @lightGrey;
}
.btn-transparent{
  background-color: transparent !important;
  color: @white;
}
.btn-transparent:hover{
  background-color: @transparentBlack !important;
  color: @white;
}
.basicGalleryPage {
  /*background-image: url("../images/backgrounds/betonZid.png");
  background-repeat: repeat;*/
  background-color: @transparentBlack;
  min-height: 100vh;
  .btn-raised{font-size: 120%};
  .changeModeBtn{
    position: absolute;
    right: 0;
    font-size: 30%;
  }
  #topPadding{
    height: 1vh;
  }
  .icons{
    font-size:300%;
  }
  .chevron{
    font-size: 400%;
    position: absolute;
    z-index: 10;
    opacity: 0;
  }
  .bs-header {
    position: relative;
    padding: 3px;
    width: 100%;
    color: @white;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: @indexHeaderRedColor;
    opacity: 0.9;
    max-height: 15vh;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    vertical-align: middle;

  }
  .bs-footer {
    position: relative;
    padding: 1%;
    width: 100%;
    color: @white;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: @transparentBlack;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    margin-top: 30px;
  }
  .chevron:hover{
    cursor: pointer;
  }
  #toggleZoom,#fullscreenToggleBtn{
    display: block;
    background: none;
    color:@white;
  }
  #image{
    cursor:pointer;
  }
  .row {
    padding: 0;
    margin: 0;
  }
  .centerFlex{
    display: flex;
    /*align-items: center;*/
    justify-content: center;
  }
  .sider{
    padding: 0;
    > div{
      background-color: @transparentBlack;
      padding: 10px 5px;
      border:3px solid @black;
      border-top:none;
      border-bottom:none;
      border-radius: 3px;
    }
  }
  .siderItem {
    padding: 5px 0px;
  }
  .btn {
    white-space: normal;
    background-color: @white;
  }
  .btn-gray {
    background-color: @transparentBlack !important;
    color: @white;
  }
  .interviewLink {
    padding: 5px 0;
    position: absolute;
    right: 30px;
    top: 10px;

  }
  .imgContainer {
    vertical-align: center;
    height: 65vh;
    text-align: center;
    img{
      max-width: 100%;
      max-height: 100%;
      height: auto;
      width: auto;
      padding: 0 !important;
      /*box-shadow: 4px 5px 2px @black;*/
    }
  }
  .galleryBasicImgDescription {
    margin-top: 1vh;
    padding: 5px;
    color: @white;
    text-align: center;

    box-shadow: 4px 5px 2px @black;
    background: @transparentBlack;
    border-radius: 3px;
    border:3px solid @black;
  }
  .active {
    opacity: 0.6;
  }
}

/* First page */
.firstPageTpl {
  position: fixed;
  width: 100%;
  padding-top: 15%;
  font-family: inherit;


  h1 h3 {
    font-weight: 100;
  }

  p {
    font-weight: 100;
  }

  .bs-header {
    position: relative;
    padding: 1%;
    width: 100%;
    color: @white;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: @indexHeaderRedColor;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
  }

  #bs-body {
    display: none;
    position: relative;
    width: 100%;
    padding: 2%;
    color: @white;
    background-color: @niceGray;
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
  }

  #bs-tail {
    position: relative;
    width: 100%;
    max-height: 55%;
    color: @white;
    background-color: @niceGray;
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
  }

  .img-circle {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }

  .pbody {
    display: table-cell;
    vertical-align: middle;
  }

  .firstPageTpl .heading {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .btn {
    color: @white;
    line-height: 1.6;
    min-height: 200px;
    padding-top: 2.5%;
    padding-bottom: 2%;
    white-space: normal;
    vertical-align: baseline;
    text-transform: inherit;
    text-align: left;
    letter-spacing:  normal;
    margin-bottom: auto;
    font-size: inherit;
  }

  .btn:hover {
    background-color:  @indexHeaderRedColor;//@yellow;
    border-radius: 0;
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
  }

  .p {
    margin-top: 5px;
  }

  #hide {
    margin-left: 50%;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }

  #hide:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
  }
}

img.firstPageTplBg {
  min-width: 100%;
  position: inherit;
  min-height: 70% !important; /* browser fill */
  height: auto; /*content fill */
}

/* Interview */

img.interviewPageTplBg {
  min-width: 100%;
  min-height: 70% !important; /* browser fill */
  max-height: 100%;
  height: auto; /*content fill */
}

.interviewPage {
  width: 100%;

  p {
    text-align:justify;
    font-size: large;
  }

  h5 {
    text-align:justify;
  }

  .bs-header {
    position: fixed;
    padding: 1%;
    width: 100%;
    color: @white;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: @indexHeaderRedColor;
    z-index: 2;
  }

  .bback {
    height: 200000px;
    min-height: 100%;
    padding-top: 7%;
    color: @white;
    background-color: @niceGray;
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */

    a {
      color: @lightGrey;
      font-size: medium;
    }

  }

  .qstion {
    padding-top: 10px;
    margin-left: 7%;
    padding-left: 1%;
    padding-right: 7%;
  }

  .wback {
    padding-top: 5%;
    background-color: @white;
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
  }


  /*background-image: url("../images/backgrounds/betonZid.png");*/
  .indexContainer{
    position:fixed;
    font-size: 100%;

    ul {
      list-style: none;
      align-content: center;

      li {
        text-align:justify;
      }

      li:hover{
        cursor: pointer;
        border-left: 5px solid @indexHeaderRedColor;
      }
      li.active{
        background-color: @white;
        text-decoration: none;
        a {
          color: @niceGray;
        }
      }
    }

  }

  #back {
    align-items: baseline;
    z-index: 1;
    margin-left: -50%;
    position: fixed;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  }
  #back:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
  }
}

.setupPage{
  padding: 3vh;
  text-align: center;
  background: @transparentBlack;
  margin:0;

  img{
    margin-right:0;
    height: 40vh;
    margin: 3px 1px;
    background: @white;
  }
  img:hover{
    cursor: pointer;
  }
}

@media screen and (max-width: 1500px){
  body, #app-content {
    font-size: 90%;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
  }
}