/* Main gallery page */
@bela : #ffffff;
@crna : #000000;
@indexHeaderRedColor : #dc211c;

body,#app-content{
  min-height: 100vh;
  width: 100%;
}
.basicGalleryPage {
  background-image: url("../images/backgrounds/betonZid.png");
  background-repeat: repeat;
  min-height: 100vh;
  .row {
    padding: 0;
    margin: 0;
  }
  .siderItem {
    padding: 5px 0px;
  }
  .btn {
    white-space: normal;
    background: @bela;
  }
  .btn-red{
    background-color: @indexHeaderRedColor !important;
  }
  .interviewLink {
    padding: 5px 0;
  }
  .galleryBasicImgDescription {
    margin-top:10px;
    padding: 30px;
    background: rgba(0,0,0,0.8);
    color: @bela;
    border-radius: 2vw;
  }
  .active{
      opacity: 0.6;
  }
}

/* First page */
.firstPageTpl {
  position: fixed;
  width: 100%;
  padding-top: 15%;

  .bs-header {
    position: relative;
    padding: 1%;
    width: 100%;
    color: @bela;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: @indexHeaderRedColor;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
  }

  #bs-body {
    display: none;
    position: relative;
    width: 100%;
    padding: 2%;
    color: @bela;
    background-color: #333333;
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
  }

  #bs-tail {
    position: relative;
    width: 100%;
    padding: 2%;
    color: @bela;
    background-color: #333333;
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
  }

  .img-circle {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }

  .pbody {
    display: table-cell;
    vertical-align: middle;
  }

  .firstPageTpl .heading {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .btn {
    color: @bela;
  }

  .p {
    margin-top: 5px;
  }

  #hide {
    margin-left: 50%;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }

  #hide:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
  }
}

img.firstPageTplBg {
  min-width: 100%;
  position: inherit;
  min-height: 70% !important; /* browser fill */
  height: auto; /*content fill */
}