/* Main gallery page */

.row{
    padding: 0;
    margin: 0;
}
.siderItem{
    padding: 5px 0;
}
.btn{
    white-space: normal;
}
.interviewLink{
    padding: 5px 0;
}
.galleryBasicImgDescription{
    padding: 30px;
}

/* First page */
.bs-header{
    position:relative;
    padding: 1%;
    width: 100%;
    color:#ffffff;
    text-align:center;
    text-shadow:0 1px 0 rgba(0,0,0,.1);
    background-color:#dc211c;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

#bs-body{
    display: none;
    position:relative;
    width: 100%;
    padding: 2%;
    color:#ffffff;
    background-color:#333333;
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
}

#bs-tail{
    position:relative;
    width: 100%;
    padding: 2%;
    color:#ffffff;
    background-color:#333333;
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
}

.img-circle {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.pbody {
    display:table-cell;
    vertical-align:middle;
}

#main {
    position: fixed;
    width: 100%;
    padding-top: 15%;
}

.heading {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

img.bg {
    min-width:100%;
    position:inherit;
    min-height:70% !important; /* browser fill */
    height:auto;                /*content fill */
}

.btn {
    color: #ffffff;
}

.p {
    margin-top: 5px;
}

#hide {
    margin-left: 50%;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#hide:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}
