<div class="setupPage">
    <div class="doubleHeader">
        <div class="row">
            <div class="col-md-1 col-sm-1" style="padding-top:5px">
                <a href="./" class="btn btn-transparent">
                    <i class="material-icons icons">home</i>
                </a>
            </div>
            <div class="col-md-10 col-sm-10" style="padding-top:10px">
                <h4>Postavljanje razstave</h4>
            </div>
        </div>
    </div>
    <div class="overlayScreen">
        <i class="material-icons icons btn btnExit btn-transparent" id="exitButton">clear</i>
        <img src="./images/setup/DSC04352.jpg" id="shownImage"/>
        <i class="material-icons icons btn btn-transparent left" id="moveLeft">chevron_left</i>
        <i class="material-icons icons btn btn-transparent right" id="moveRight">chevron_right</i>

    </div>
    <div style="padding:5px">
        {{#each images}}
            <img src="./images/setup/{{this}}" class="setupImage" name="{{@index}}">
        {{/each}}
    </div>
</div>